<tr class="nested-fields">
  <td>
    <%= f.text_field :key, class: "form-control", placeholder: "Key" %>
  </td>
  <td>
    <%= f.text_field :value, class: "form-control", placeholder: "Value" %> 
  </td>
  <td align="center" style="vertical-align: middle;">
    <%= link_to_remove_association '<div class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></div>'.html_safe, f %>
  </td>
</tr>
</tr>