<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#active" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-home" aria-hidden="true"></i> Active</a></li>
  <li role="presentation"><a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">Pending Approval</a></li>
  <li role="presentation"><a href="#required-modification" aria-controls="required-modification" role="tab" data-toggle="tab">Required Modification</a></li>
  <li role="presentation"><a href="#draft" aria-controls="draft" role="tab" data-toggle="tab">Draft</a></li>
  <li role="presentation"><a href="#denied" aria-controls="denied" role="tab" data-toggle="tab">Denied</a></li>
  <li role="presentation"><a href="#paused" aria-controls="paused" role="tab" data-toggle="tab">Paused</a></li>
</ul>