<div class="tp-page-head"><!-- page header -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Flower Vendor</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.page header -->
<div class="tp-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Flower Vendor </li>
        </ol>
      </div>
       
    </div>
  </div>
</div>
<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-8 tp-title">
        <h2>(12) Flower Vendor </h2>
      </div>
      <div class="col-md-4 text-right">
        <div class="btn-group">
            <a href="#" id="list" class="btn list-btn btn-sm"><span class="fa fa-th-list">
            </span> </a> <a href="#" id="grid" class="btn  grid-btn active  btn-sm"><span
                class="fa fa-th"></span> </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="filter-sidebar">
          <div class="col-md-12 form-title">
            <h2>Refine Your Search</h2>
          </div>
          <form>
            <div class="col-md-12 form-group">
              <label class="control-label" for="flowerservice">Flower Service</label>
              <select id="flowerservice" name="flowerservice" class="form-control">
                <option value="">Flower Service</option>
                <option value="Clean Up">Clean Up</option>
                <option value="Delivery">Delivery</option>
                <option value="Set Up">Set Up</option>
                 
              </select>
            </div>
            <div class="col-md-12 form-group">
              <label class="control-label" for="distance">Distance from</label>
              <select id="distance" name="distance" class="form-control">
                <option value="">Select Distance</option>
                <option value="75 miles">75 miles</option>
                <option value="50  miles">50  miles</option>
                <option value="25 miles">25 miles</option>
                <option value="20 miles">20 miles</option>
                <option value="All">All</option>
                 
              </select>
            </div>
            <div class="col-md-12 form-group">
              <label class="control-label" for="price">Price</label>
              <select id="price" name="price" class="form-control">
                <option value=""> Select Price</option>
                <option value="$0 - $1000">$0 - $100</option>
                <option value="$1000 - $1999">$100 - $199</option>
                <option value="$2000 - $2999">$200 - $299</option>
                <option value="$3000 - $3999">$300 - $399</option>
                <option value="$4000 - $4999">$400 - $499</option>
                <option value="$5000+">$500+</option>
              </select>
            </div>
            <div class="col-md-12 form-group rating">
              <label class="control-label">Select Rating </label>
              <div class="checkbox checkbox-success">
                <input type="checkbox" name="checkbox" id="checkbox-0" value="1" class="styled">
                <label for="checkbox-0" class="control-label"> <i class="fa fa-star"></i> </label>
              </div>
              <div class="checkbox checkbox-success">
                <input type="checkbox" name="checkbox" id="checkbox-1" value="2" class="styled">
                <label for="checkbox-1" class="control-label"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </label>
              </div>
              <div class="checkbox checkbox-success">
                <input type="checkbox" name="checkbox" id="checkbox-2" value="3" class="styled">
                <label for="checkbox-2" class="control-label"> <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i> </label>
              </div>
              <div class="checkbox checkbox-success">
                <input type="checkbox" name="checkbox" id="checkbox-3" value="4" class="styled">
                <label for="checkbox-3" class="control-label"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </label>
              </div>
              <div class="checkbox checkbox-success">
                <input type="checkbox" name="checkbox" id="checkbox-4" value="5" class="styled">
                <label for="checkbox-4" class="control-label"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </label>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <button type="submit" class="btn tp-btn-primary tp-btn-lg btn-block">Refine Your Search</button>
              <button type="reset" value="Reset" class="btn btn-reset"><i class="fa fa-repeat"></i>Reset</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <div class="well-box feature-left">
              <div class="row">
              <div class="col-md-2 feature-icon"><img src="images/florist-icon.svg" alt=""></div>
              <div class="col-md-10 feature-info"><h1>Wedding Florists</h1>

              <p> Flowers often play a major role in conveying the style of a wedding and help make it memorable and beautiful.</p></div>
</div>
            </div>
            </div>
          <div class="col-md-4 vendor-box"><!-- venue box start-->
            <div class="vendor-image"><!-- venue pic --> 
              <a href="#"><img src="images/vendor-1.jpg" alt="wedding venue" class="img-responsive"></a>
              <div class="popular-label"></div><div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
            </div>
            <!-- /.venue pic -->
            <div class="vendor-detail"><!-- venue details -->
              <div class="caption"><!-- caption -->
                <h2><a href="#" class="title">Vendor Florist Title</a></h2>
                <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                  <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
              </div>
              <!-- /.caption -->
              <div class="vendor-price">
                <div class="price">$390 - $600</div>
              </div>
            </div>
            <!-- venue details --> 
          </div>
          <div class="col-md-4 vendor-box"><!-- venue box start-->
            <div class="vendor-image"><!-- venue pic --> 
              <a href="#"><img src="images/vendor-2.jpg" alt="wedding venue" class="img-responsive"></a>
              <div class="rated-label"></div><div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
            </div>
            <!-- /.venue pic -->
            <div class="vendor-detail"><!-- venue details -->
              <div class="caption"><!-- caption -->
                <h2><a href="#" class="title">Vendor Florist Title</a></h2>
                <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
              </div>
              <!-- /.caption -->
              <div class="vendor-price">
                <div class="price">$390 - $600</div>
              </div>
            </div>
            <!-- venue details --> 
          </div>
          <div class="col-md-4 vendor-box"><!-- venue box start-->
            <div class="vendor-image"><!-- venue pic --> 
              <a href="#"><img src="images/vendor-3.jpg" alt="wedding venue" class="img-responsive"></a> 
              <div class="feature-label"></div><div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
            </div>
            <!-- /.venue pic -->
            <div class="vendor-detail"><!-- venue details -->
              <div class="caption"><!-- caption -->
                <h2><a href="#" class="title">Vendor Florist Title</a></h2>
                <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
              </div>
              <!-- /.caption -->
              <div class="vendor-price">
                <div class="price">$390 - $600</div>
              </div>
            </div>
            <!-- venue details --> 
          </div>
          <div class="col-md-4 vendor-box"><!-- venue box start-->
            <div class="vendor-image"><!-- venue pic --> 
              <a href="#"><img src="images/vendor-4.jpg" alt="wedding venue" class="img-responsive"></a> <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div></div>
            <!-- /.venue pic -->
            <div class="vendor-detail"><!-- venue details -->
              <div class="caption"><!-- caption -->
                <h2><a href="#" class="title">Vendor Florist Title</a></h2>
                <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
              </div>
              <!-- /.caption -->
              <div class="vendor-price">
                <div class="price">$390 - $600</div>
              </div>
            </div>
            <!-- venue details --> 
          </div>
          <div class="col-md-4 vendor-box"><!-- venue box start-->
            <div class="vendor-image"><!-- venue pic --> 
              <a href="#"><img src="images/vendor-5.jpg" alt="wedding venue" class="img-responsive"></a> <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div></div>
            <!-- /.venue pic -->
            <div class="vendor-detail"><!-- venue details -->
              <div class="caption"><!-- caption -->
                <h2><a href="#" class="title">Vendor Florist Title</a></h2>
                <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
              </div>
              <!-- /.caption -->
              <div class="vendor-price">
                <div class="price">$390 - $600</div>
              </div>
            </div>
            <!-- venue details --> 
          </div>
          <div class="col-md-4 vendor-box"><!-- venue box start-->
            <div class="vendor-image"><!-- venue pic --> 
              <a href="#"><img src="images/vendor-6.jpg" alt="wedding venue" class="img-responsive"></a><div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div> </div>
            <!-- /.venue pic -->
            <div class="vendor-detail"><!-- venue details -->
              <div class="caption"><!-- caption -->
                <h2><a href="#" class="title">Vendor Florist Title</a></h2>
                <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
              </div>
              <!-- /.caption -->
              <div class="vendor-price">
                <div class="price">$390 - $600</div>
              </div>
            </div>
            <!-- venue details --> 
          </div>
          <div class="col-md-4 vendor-box"><!-- venue box start-->
            <div class="vendor-image"><!-- venue pic --> 
              <a href="#"><img src="images/vendor-7.jpg" alt="wedding venue" class="img-responsive"></a> <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div></div>
            <!-- /.venue pic -->
            <div class="vendor-detail"><!-- venue details -->
              <div class="caption"><!-- caption -->
                <h2><a href="#" class="title">Vendor Florist Title</a></h2>
                <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
              </div>
              <!-- /.caption -->
              <div class="vendor-price">
                <div class="price">$390 - $600</div>
              </div>
            </div>
            <!-- venue details --> 
          </div>
          <div class="col-md-4 vendor-box"><!-- venue box start-->
            <div class="vendor-image"><!-- venue pic --> 
              <a href="#"><img src="images/vendor-8.jpg" alt="wedding venue" class="img-responsive"></a><div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div> </div>
            <!-- /.venue pic -->
            <div class="vendor-detail"><!-- venue details -->
              <div class="caption"><!-- caption -->
                <h2><a href="#" class="title">Vendor Florist Title</a></h2>
                <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
              </div>
              <!-- /.caption -->
              <div class="vendor-price">
                <div class="price">$390 - $600</div>
              </div>
            </div>
            <!-- venue details --> 
          </div>
          <div class="col-md-4 vendor-box"><!-- venue box start-->
            <div class="vendor-image"><!-- venue pic --> 
              <a href="#"><img src="images/vendor-9.jpg" alt="wedding venue" class="img-responsive"></a> <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div></div>
            <!-- /.venue pic -->
            <div class="vendor-detail"><!-- venue details -->
              <div class="caption"><!-- caption -->
                <h2><a href="#" class="title">Vendor Florist Title</a></h2>
                <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
              </div>
              <!-- /.caption -->
              <div class="vendor-price">
                <div class="price">$390 - $600</div>
              </div>
            </div>
            <!-- venue details --> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 tp-pagination">
            <ul class="pagination">
              <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">Previous</span> </a> </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li> <a href="#" aria-label="Next"> <span aria-hidden="true">NEXT</span> </a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>