<div class="main-container">
  <div class="container">
  <div class="row">
    <div class="col-md-8 widget">
      <div class="well-box">

        <div class="row thumb_holder">
          <div class="col-md-12">
            <div class="row">
              <h2 class="gd-title page-header"><span class="glyphicon glyphicon-plus"></span> Add New Listing</h2>

							<%= render 'form' %>

            </div>
          </div>

        </div>
      </div>
    </div>

    <%= render partial: 'shared/listing_sidebar' %>

    <!-- col-md-3 --> 
  </div>
  </div>
</div>