<style type="text/css">
	.jumbotron{
		max-height: 100px;
		margin-bottom: 0;
	}

</style>

<div class="jumbotron">
	<div class="container">
		<h2><%= current_user.username.capitalize %></h2>
	</div>
</div>

<p>Everything happen here ----> Listening</p>