<ul class="inbox-nav inbox-divider">
    <li> <!--  class="active" -->
        <a href="#"><i class="fa fa-inbox"></i> All <span class="label label-warning pull-right"><%= current_user.mailbox.conversations.count %></span></a>

    </li>
    <li class="active"> <!--  class="active" -->
        <a href="#"><i class="fa fa-inbox"></i> Inbox <span class="label label-danger pull-right"><%= current_user.mailbox.inbox.count %></span></a>
    </li>            
    <li>
        <a href="#"><i class="fa fa-envelope-o"></i> Sent <span class="label label-info pull-right"><%= current_user.mailbox.sentbox.count %></span></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-bookmark-o"></i> Important</a>
    </li>
    <li>
        <a href="#"><i class=" fa fa-external-link"></i> Drafts <span class="label label-info pull-right">30</span></a>
    </li>
    <li>
        <a href="#"><i class=" fa fa-trash-o"></i> Trash</a>
    </li>
</ul>