<div class="col-md-4 shop-sidebar">
  <div class="row">
    <div class="col-md-12  search-widget widget"><!-- Search Widget -->
      <div class="well-box">
        <h2>Search</h2>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search ...">
          <span class="input-group-btn">
          <button class="btn tp-btn-default" type="button"> <i class="fa fa-search"></i> </button>
          </span> </div>
      </div>
    </div>
    
    <div class="col-md-12 widget categories-widget">
      <div class="well-box">
        <h2 class="widget-title">Product Categories</h2>
        <ul class="listnone angle-double-right">
          <li> <a href="#"> Wedding Dress </a></li>
          <li> <a href="#">Flower Gown</a></li>
          <li> <a href="#">Evening Dress</a></li>
          <li> <a href="#">Sample Dress</a></li>
          <li> <a href="#">Bridal Jewllery</a></li>
        </ul>
      </div>
    </div>
    
    <!-- top rated products -->
    <div class="col-md-12 top-listing widget">
      <div class="well-box">
        <h2>Top Rated Products</h2>
        <div class="product-box">
          <div class="col-md-4 no-padding"><!-- product photo -->
            <div class="product-wrap"> <%= image_tag "product-1.jpg", alt:"", class:"img-responsive" %> </div>
          </div>
          <div class="col-md-8 no-padding"><!-- product info -->
            <h3><a href="#" class="title">Wedding Dress</a></h3>
            <p class="price">$65.00 </p>
            <p class="rating"><span><a href="#" class="rating-done"><i class="fa fa-star"></i></a></span> <span><a href="#" class="rating-done"><i class="fa fa-star"></i></a></span> <span><a href="#"><i class="fa fa-star"></i></a></span> <span><a href="#"><i class="fa fa-star"></i></a></span> <span><a href="#"><i class="fa fa-star"></i></a></span> </p>
          </div>
          <!-- product info --> 
        </div>
        <div class="product-box">
          <div class="col-md-4 no-padding"><!-- product photo -->
            <div class="product-wrap">  <%= image_tag "product-2.jpg", alt:"", class:"img-responsive" %>  </div>
          </div>
          <div class="col-md-8 no-padding"><!-- product info -->
            <h3><a href="#" class="title">Wedding Dress</a></h3>
            <p class="price">$65.00 </p>
            <p class="rating"><span><a href="#" class="rating-done"><i class="fa fa-star"></i></a></span> <span><a href="#" class="rating-done"><i class="fa fa-star"></i></a></span> <span><a href="#"><i class="fa fa-star"></i></a></span> <span><a href="#"><i class="fa fa-star"></i></a></span> <span><a href="#"><i class="fa fa-star"></i></a></span> </p>
          </div>
          <!-- product info --> 
        </div>
        <div class="product-box">
          <div class="col-md-4 no-padding"><!-- product photo -->
            <div class="product-wrap">  <%= image_tag "product-3.jpg", alt:"", class:"img-responsive" %>  </div>
          </div>
          <div class="col-md-8 no-padding"><!-- product info -->
            <h3><a href="#" class="title">Wedding Dress</a></h3>
            <p class="price"> $70.00</p>
            <p class="rating"><span><a href="#" class="rating-done"><i class="fa fa-star"></i></a></span> <span><a href="#" class="rating-done"><i class="fa fa-star"></i></a></span> <span><a href="#"><i class="fa fa-star"></i></a></span> <span><a href="#"><i class="fa fa-star"></i></a></span> <span><a href="#"><i class="fa fa-star"></i></a></span> </p>
          </div>
          <!-- product info --> 
        </div>
        <div class="product-box">
          <div class="col-md-4 no-padding"><!-- product photo -->
            <div class="product-wrap">  <%= image_tag "product-4.jpg", alt:"", class:"img-responsive" %>  </div>
          </div>
          <div class="col-md-8 no-padding"><!-- product info -->
            <h3><a href="#" class="title">Wedding Dress</a></h3>
            <p class="price">$65.00 </p>
            <p class="rating"><span><a href="#" class="rating-done"><i class="fa fa-star"></i></a></span> <span><a href="#" class="rating-done"><i class="fa fa-star"></i></a></span> <span><a href="#"><i class="fa fa-star"></i></a></span> <span><a href="#"><i class="fa fa-star"></i></a></span> <span><a href="#"><i class="fa fa-star"></i></a></span> </p>
          </div>
          <!-- product info --> 
        </div>
      </div>
    </div>
    <!-- top rated products end--> 
    
  </div>
</div>