<div class="tp-page-head"><!-- page header -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Help Center</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.page header -->
<div class="tp-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Help Center</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-8 content-left help-page">
        <h1>What to Ask Before You Book Vendor ?</h1>
        <p>When you are trying to select a venue for your wedding, Following are the key questions to ask before you decide to book your wedding venues.</p>

      </div>
      <div class="col-md-8 help-page">
        <ul class="list-group">
          <li class="list-group-item">
            <h2> <span class="question-sign">Q</span> Are there any rules? </h2>
            <p>When you are trying to select a venue for your wedding, Following are the key questions to ask before you decide to book your wedding venues.</p>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking ates its layout. The point of using lorem Ipsum is that it has a normal distribution of letters point of using lorem ipsu Ipsum to using content here content here making it look like readable english page editors now.</p>
          </li>
          <li class="list-group-item">
            <h2> <span class="question-sign">Q</span>Is ceremony rehersal Included? </h2>
            
            <p>Duis eleifend efficitur nisleu facilisis In pellentesque suscipit finibusras luctus blanditest sitmet males uadasis its edeoelit laoreet mollis hendrerit a finibus utnunc suscipit sitametras cursus rutrum euismod ipsum.</p>
            <p>When you are trying to select a venue for your wedding, Following are the key questions to ask before you decide to book your wedding venues.</p>
          </li>
          <li class="list-group-item">
            <h2> <span class="question-sign">Q</span>How many people can this location accommodate?</h2>
            <p>Cras mauris leo, sollicitudin et feugiat et, ultricies non eros. Curabitur et massa iaculis, commodo metus a, egestas magna. Nunc gravida rutrum felis placerat interdum. Mauris vel risus pharetra diam posuere fermentum. </p>
          </li>
          <li class="list-group-item">
            <h2> <span class="question-sign">Q</span>How long do have the space? </h2>
            <p>Aliquam egestas mauris mi, vitae rhoncus ex placerat ac. Praesent vitae est mauris. Fusce semper neque nunc, non sollicitudin orci dictum ac. Nunc ante nulla, tristique id congue at, consectetur at risus.</p>
          </li>
          <li class="list-group-item">
            <h2> <span class="question-sign">Q</span>Is ceremony rehersal Included? </h2>
            <p>When you are trying to select a venue for your wedding, Following are the key questions to ask before you decide to book your wedding venues.</p>
          </li>
          <li class="list-group-item">
            <h2><span class="question-sign">Q</span>How many people can this location accommodate? </h2>
            <p>When you are trying to select a venue for your wedding, Following are the key questions to ask before you decide to book your wedding venues.</p>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
         <div class="row">

          <div class="col-md-12">
        <div class="well-box">
          <div class="feature-icon"><% image_tag "heart.svg", alt:"" %></div>
          <h3>Ready to Start Find the Vendor </h3>
          <p>We’re here to help, 24 hours a day, 7 days a week utfrit inturpis one sagittis interdu. </p>
           
          <a href="#" class="btn tp-btn-default">
          Sign up </a>
        </div>
      </div>
      <div class="col-md-12">
        <div class="well-box">
          <div class="feature-icon"><%=image_tag "envelop.svg", alt:"" %></div>
          <h3>Have questions? Contact us at</h3>
          <p>We’re here to help, 24 hours a day, 7 days a week utfrit inturpis one sagittis interdu.<strong><a href="#">
          support@weddingvemndor.com</a></strong></p>
          <p></p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="well-box">
          <div class="feature-icon"><%=image_tag "ballon.svg", alt:"" %></div>
           
          <h3>Want to know how it works ?</h3>
          <p>Lacinia lectus sedurna luctus interdumras commodo pro utfringilla cursus tortor magna consectetur nisl sedblandit turpis <a href="#">Go to How it works.</a></p>
          
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>