<style type="text/css">
figure.effect-oscar figcaption {
    padding: 20px;
    background-color: transparent; 
}
.grid figure img {
  opacity: 10 
}
figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
  /*opacity: 1;*/
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-oscar:hover figcaption {
  /*background-color: rgba(58,52,42,0);*/
}

figure.effect-oscar:hover img {
  opacity: 10;
}
</style>

<div class="tp-page-head"><!-- page header -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header" style="text-align:center">
          <h1>Start Your Wedding Plan, Choose a template</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.page header -->
<div class="tp-breadcrumb"><!-- breadcrumb -->
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Choose a template</li>
        </ol>
      </div>
      <div class="col-md-4 text-right">
      <a class="btn tp-btn-link" role="button" data-toggle="collapse" href="#searchform" aria-expanded="false" aria-controls="searchform">Filter</a> </div>
    </div>
  </div>
</div>

<!-- /.filter form -->
<div class="main-container"><!-- main container -->
  <div class="container">
    <div class="row">
      <% @template.each do |template| %>
        <div class="col-md-4 vendor-box">
          <div class="grid">
            <figure class="effect-oscar">
              <%= image_tag "http://codelayers.net/templates/hasta/demo/images/thumb1.jpg", alt:"", class:"img-responsive img-thumbnail" %>

              <%= link_to "View Template", start_planning_path(:template => template.id), class: "btn btn-default" %>
              <!-- <figcaption> -->
                <!-- <h2><a href="#">Wedding Venue Name Title Here</a></h2> -->
                <!-- <p> Street Address, Name of Town, 12345, Country.</p> -->
                <!-- <a href="#">View more</a>  -->
              <!-- </figcaption> -->
            </figure>
          </div>
        </div>
      <% end %>

    </div>
    <div class="row">
      <div class="col-md-12 tp-pagination">
        <ul class="pagination">
          <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">Previous</span> </a> </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li> <a href="#" aria-label="Next"> <span aria-hidden="true">NEXT</span> </a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>