.waiting-approval{
	color: #bbb;
	font-weight: 600;
	font-style: italic;
}

h4 .title{
	margin: 0px 0px 5px 0px;
}
div.media-body span{
	font-size: 14px
}
div.summary{
	font-size: 12px;
}
/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}