        <div class="filter-sidebar">
          <div class="col-md-12 form-title">
            <h2>Refine Your Search</h2>
          </div>
          <form>
            <div class="col-md-12 form-group">
              <label class="control-label" for="flowerservice">Flower Service</label>
              <select id="flowerservice" name="flowerservice" class="form-control">
                <option value="">Flower Service</option>
                <option value="Clean Up">Clean Up</option>
                <option value="Delivery">Delivery</option>
                <option value="Set Up">Set Up</option>
                 
              </select>
            </div>
            <div class="col-md-12 form-group">
              <label class="control-label" for="distance">Distance from</label>
              <select id="distance" name="distance" class="form-control">
                <option value="">Select Distance</option>
                <option value="75 miles">75 miles</option>
                <option value="50  miles">50  miles</option>
                <option value="25 miles">25 miles</option>
                <option value="20 miles">20 miles</option>
                <option value="All">All</option>
                 
              </select>
            </div>
            <div class="col-md-12 form-group">
              <label class="control-label" for="price">Price</label>
              <select id="price" name="price" class="form-control">
                <option value=""> Select Price</option>
                <option value="$0 - $1000">$0 - $100</option>
                <option value="$1000 - $1999">$100 - $199</option>
                <option value="$2000 - $2999">$200 - $299</option>
                <option value="$3000 - $3999">$300 - $399</option>
                <option value="$4000 - $4999">$400 - $499</option>
                <option value="$5000+">$500+</option>
              </select>
            </div>
            <div class="col-md-12 form-group rating">
              <label class="control-label">Select Rating </label>
              <div class="checkbox checkbox-success">
                <input type="checkbox" name="checkbox" id="checkbox-0" value="1" class="styled">
                <label for="checkbox-0" class="control-label"> <i class="fa fa-star"></i> </label>
              </div>
              <div class="checkbox checkbox-success">
                <input type="checkbox" name="checkbox" id="checkbox-1" value="2" class="styled">
                <label for="checkbox-1" class="control-label"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </label>
              </div>
              <div class="checkbox checkbox-success">
                <input type="checkbox" name="checkbox" id="checkbox-2" value="3" class="styled">
                <label for="checkbox-2" class="control-label"> <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i> </label>
              </div>
              <div class="checkbox checkbox-success">
                <input type="checkbox" name="checkbox" id="checkbox-3" value="4" class="styled">
                <label for="checkbox-3" class="control-label"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </label>
              </div>
              <div class="checkbox checkbox-success">
                <input type="checkbox" name="checkbox" id="checkbox-4" value="5" class="styled">
                <label for="checkbox-4" class="control-label"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </label>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <button type="submit" class="btn tp-btn-primary tp-btn-lg btn-block">Refine Your Search</button>
              <button type="reset" value="Reset" class="btn btn-reset"><i class="fa fa-repeat"></i>Reset</button>
            </div>
          </form>
        </div>