<div class="col-md-12">
  <h2>Side Menu</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="side-nav" id="leftCol">
        <div class="hide-side" style="">
          <ul class="listnone nav affix-top" id="sidebar">
            <li class="active"><a href="#aboutus">About us</a></li>
            <li><a href="#team">Meet The Team</a></li>
            <li><a href="#howwork">How it works</a></li>
            <li><a href="#history">Our History</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8 widget widget-search">
      <div class="well-box">
        
        

      </div>
    </div>
  </div>
</div>