<style type="text/css">
	.input-group-addon {
		background-color: transparent;
		border: 1px solid #e9e6e0;
		border-radius: 0px; 
	}	
</style>

<div class="main-container">
  <div class="container">
  
  <div class="row">
    
    <div class="col-md-9 widget">
      <div class="well-box">

        <div class="row thumb_holder">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <h2 class="gd-title">Groom and Bride Information</h2>
              </div>

              <%= render 'form' %>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-3 shop-sidebar">
      <%= render partial: 'shared/listing_sidebar' %>
    </div>

  </div>
  </div>
</div>